<div id="slider">
    <div class="slides">
      <div class="slider">
        <div class="legend"></div>
        <div class="content">
          <div class="content-txt">
            <br>
            <br>
            <br>
            <h1>Entertainment</h1>
            <br>
            <h2>The most expensive plan is available for INR1499 per month, and offers broadband speeds of up to 300 Mbps, and includes subscriptions to Netflix, Amazon Prime, and Disney+ Hotstar. </h2>
          </div>
        </div>
        <div class="image1" style="float:left;" >
          <img src="assets/no16.jpg">
          </div>
          <div class="image"style="float:right;" >
          <img src ="assets/no17.png">
        </div>
      </div>
      <div class="slider">
        <div class="legend"></div>
        <div class="content">
          <div class="content-txt">
            <br>
            <br>
            <h1>Recharge and plans</h1>
            <br>
            <h2>The plans combine broadband with access to a range of OTT services and over 350 channels with 4K Xstream Box. The core difference in price for the plans comes down to broadband speed and which OTT services are included. </h2>
          </div>
        </div>
        <div class="image" style="float:left;" >
          <img src ="assets/no14.jpg">
        </div>
        <div class="image"style="float:right;" >
          <img src ="assets/no18.jpeg">
        </div>
      </div>
      <div class="slider">
        <div class="legend"></div>
        <div class="content">
          <div class="content-txt">
            <br>
            <br>
            <br>
            <h1>Broadband</h1>
            <br>
            <h2>Voizfonica Broadband is high speed internet connection enabled through different mediums. Broadband bill payment can be easily done online in an instant.</h2>
          </div>
        </div>
        <div class="image" style="float:left;" >
          <img src ="assets/no13.jpg">
        </div>
        <div class="image"style="float:right;" >
          <img src ="assets/no19.jpg">
        </div>
      </div>
      <div class="slider">
        <div class="legend"></div>
        <div class="content">
          <div class="content-txt">
            <br>
            <br>
            <br>
            <h1>Service</h1>
            <br>
            <h2>Voizfonica Services is the support we offer our customers both before and after they buy and use our services that helps you have an easy, enjoyable experience with your brand.</h2>
          </div>
        </div>
        <div class="image" style="float:left;" >
          <img src ="assets/no20.jpg">
        </div>
        <div class="image"style="float:right;" >
          <img src ="assets/no24.jpg">
        </div>
      </div>
    </div>
    <div class="switch">
      <ul>
        <li>
          <div class="on"></div>
        </li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
  
  
 