
<div id="generic_price_table">   
    <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                       
                        <div class="price-heading clearfix">
                            <h1>Dongle Offers</h1>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="container">
                
               
                <div class="row">
                    <div class="col-md-4">
                    
                      
                        <div class="generic_content clearfix">
                            
                            
                            <div class="generic_head_price clearfix">
                            
                               
                                <div class="generic_head_content clearfix">
                                
                                 
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Basic</span>
                                    </div>
                                    
                                    
                                </div>
                                
                                <div class="generic_price_tag clearfix">  
                                    <span class="price">
                                        
                                        <span class="currency"> ₹ 499</span>
                                      
                                       
                                    </span>
                                </div>
                              
                                
                            </div>                            
                            
                            <div class="generic_feature_list">
                              <ul>
                                  <li><span> Unlimited data</span></li>
                                    <li>Upto <span> 40 mbps Speed</span> </li>
                                    <li>Unlimited <span> Local/STD calls</span></li>
                                    
                                    
                                </ul>
                            </div>
                            
                            
                         
                            <div class="generic_price_btn clearfix">
                              <a class="" href="billdetails">Recharge</a>
                            </div>
                       
                            
                        </div>
                       
                            
                    </div>
                    
                    <div class="col-md-4">
                    
                        <div class="generic_content  clearfix">
                            
                       
                            <div class="generic_head_price clearfix">
                            
                            
                                <div class="generic_head_content clearfix">
                           
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Basic + TV</span>
                                    </div>
                                
                                    
                                </div>

                                
                                
                                <div class="generic_price_tag clearfix">  
                                    <span class="price">
                                    
                                        <span class="currency">₹ 699</span>
                                       
                                    </span>
                                </div>
                                
                                
                            </div>                            
                         
                            <div class="generic_feature_list">
                              <ul>
                               
                                
                                <li>Upto <span> 40 mbps Speed</span> </li>
                                <li>Unlimited <span> Local/STD calls</span></li>
                                <li>300 + <span> SD/HD TV</span>Channels</li>
                               
                                
                                </ul>
                            </div>
                            
                            <div class="generic_price_btn clearfix">
                              <a class="#" href="billdetails">Recharge</a>
                            </div>
                           
                            
                        </div>
                        
                            
                    </div>
                    <div class="col-md-4">
                    
                     
                        <div class="generic_content clearfix">
                           
                            <div class="generic_head_price clearfix">
                            
                              
                                <div class="generic_head_content clearfix">
                                
                                 
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Standard</span>
                                    </div>
                                   
                                    
                                </div>
                               
                                <div class="generic_price_tag clearfix">  
                                    <span class="price">
                                        
                                        <span class="currency">₹ 799</span>
                                        
                                    </span>
                                </div>
                                
                            </div>                            
                           
                            
                            <div class="generic_feature_list">
                                <ul>
                                    <li>Upto <span> 100 mbps Speed</span> </li>
                                    <li>Unlimited <span> Local/STD calls</span></li>
                                    <li><span>Netflix</span> 1 month Subscription</li>
                                   
                                    </ul>
                            </div>
                           
                            <div class="generic_price_btn clearfix">
                              <a class="" href="billdetails">Recharge</a>
                            </div>
                            
                        </div>
                      
                            
                    </div>
                    
                   
                   <div class="col-md-4">
                    <br>
                    <br>
                    
                        <div class="generic_content  clearfix">
                            
                       
                            <div class="generic_head_price clearfix">
                            
                            
                                <div class="generic_head_content clearfix">
                           
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Entertainment</span>
                                    </div>
                                
                                    
                                </div>
                                

                                
                                
                                <div class="generic_price_tag clearfix">  
                                    <span class="price">
                                    
                                        <span class="currency">₹ 1199</span>
                                       
                                    </span>
                                </div>
                                
                                
                            </div>       
                                               
                         
                            <div class="generic_feature_list">
                              <ul>
                                
                                <li>Upto <span> 200 mbps Speed</span> </li>
                                <li>Unlimited <span> Local/STD calls</span></li>
                                <li>350 + <span>SD/HD TV</span>Channels</li>
                               
                                </ul>
                            </div>
                            
                            <div class="generic_price_btn clearfix">
                              <a class="#" href="billdetails">Recharge</a>
                            </div>
                           
                            
                        </div>
                        
                            
                    </div>
                    <div class="col-md-4">
                        <br>
                        <br>
                        
                            <div class="generic_content  clearfix">
                                
                           
                                <div class="generic_head_price clearfix">
                                
                                
                                    <div class="generic_head_content clearfix">
                               
                                        <div class="head_bg"></div>
                                        <div class="head">
                                            <span>Professional</span>
                                        </div>
                                    
                                        
                                    </div>
                                    
    
                                    
                                    
                                    <div class="generic_price_tag clearfix">  
                                        <span class="price">
                                        
                                            <span class="currency">₹ 1499</span>
                                           
                                        </span>
                                    </div>
                                    
                                    
                                </div>       
                                                   
                             
                                <div class="generic_feature_list">
                                  <ul>
                                 
                                    <li>Upto <span> 300 mbps Speed</span> </li>
                                    <li>Unlimited <span> Local/STD calls</span></li>
                                    <li><span>Netflix </span>unlimited</li>
                                    </ul>
                                </div>
                                
                                <div class="generic_price_btn clearfix">
                                  <a class="#" href="billdetails">Recharge</a>
                                </div>
                               
                                
                            </div>
                            
                            
                                
                        </div>
                    
                </div>  
                
                
            </div>
            
        </section>             
      <footer>
          <a class="bottom_btn" href ="plans">&copy;Voizfonica</a>
        </footer>
    </div>
