<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="bg-img">
<div class="content">

<div class="container" >
  <div class="row justify-content-center">
    
    <div class="col-md-5">

    
    
    
  <h2 style="text-align:center"><strong>Login</strong></h2>
  <br>
  <form #loginform="ngForm"  (ngSubmit)="loginUser()" _lpchecked="1">
    <small class="text-danger">{{message}}</small>
   
    <div class="form-group">

      <label for="email"><p style="font-size:20px;">Email</p></label>
      <input type="email" class="form-control"  placeholder="Enter email" name="email" [(ngModel)]="user.email"  >
      
    </div>
    <div class="form-group">
      <label for="pwd"><p style="font-size:20px;">Password</p></label>
      <input type="password" class="form-control"  placeholder="Enter password" name="password" [(ngModel)]="user.password">
    </div>

    <div class="checkbox">
      <label><input type="checkbox" name="remember"><strong>Remember me</strong></label>
    </div>
    <button type="submit" class="btn btn-default" ><b>Login</b></button>
  </form>
  <br>
  <small class="float-right" [routerLink]="['/home']"><p style="font-size:15px;"><strong>New User? Sign-up here</strong></p></small>
</div>
</div>
</div>
</div>
</div>
