#contact .card:hover i,#contact .card:hover h4{
	color: #87d37c;
    align-items: center;
}
h1{
    font-size: 50px;
    text-align: center;
}
.bg-img {
 
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8jpLBgarS9BiPigb-0B9CvwOL9EA3SVW0n1p8TcScq1JO6YQWZ4hir6klmzHpwhtVyj8&usqp=CAU");
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }