<div id="generic_price_table">   
    <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                       
                        <div class="price-heading clearfix">
                            <h1>Postpaid Offers</h1>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="container">
                
               
                <div class="row">
                    <div class="col-md-4">
                    
                      
                        <div class="generic_content clearfix">
                            
                            
                            <div class="generic_head_price clearfix">
                            
                               
                                <div class="generic_head_content clearfix">
                                
                                 
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Basic Plan</span>
                                    </div>
                                    
                                    
                                </div>
                                
                                <div class="generic_price_tag clearfix">  
                                    <span class="price">
                                        
                                        <span class="currency"> ₹ 399</span>
                                      
                                       
                                    </span>
                                </div>
                              
                                
                            </div>                            
                            
                            <div class="generic_feature_list">
                              <ul>
                                  <li><span>Sim</span> 1 regular sim</li>
                                    <li><span>Data</span> 40 GB per month</li>
                                    <li><span>Calls </span> Unlimited Local/STD/Roaming</li>
                                    <li><span>SMS</span> 100 per day</li>
                                    
                                </ul>
                            </div>
                            
                            
                         
                            <div class="generic_price_btn clearfix">
                              <a class="" href="billdetails">Recharge</a>
                            </div>
                       
                            
                        </div>
                       
                            
                    </div>
                    
                    <div class="col-md-4">
                    
                        <div class="generic_content  clearfix">
                            
                       
                            <div class="generic_head_price clearfix">
                            
                            
                                <div class="generic_head_content clearfix">
                           
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Standard Plan</span>
                                    </div>
                                
                                    
                                </div>

                                
                                
                                <div class="generic_price_tag clearfix">  
                                    <span class="price">
                                    
                                        <span class="currency">₹ 499</span>
                                       
                                    </span>
                                </div>
                                
                                
                            </div>                            
                         
                            <div class="generic_feature_list">
                              <ul>
                                <li><span>Sim</span> 1 regular sim</li>
                                    <li><span>Data</span> 75 GB per month</li>
                                    <li><span>Calls </span> Unlimited Local/STD/Roaming</li>
                                    <li><span>SMS</span> 100 per day</li>
                                </ul>
                            </div>
                            
                            <div class="generic_price_btn clearfix">
                              <a class="#" href="billdetails">Recharge</a>
                            </div>
                           
                            
                        </div>
                        
                            
                    </div>
                    <div class="col-md-4">
                    
                     
                        <div class="generic_content clearfix">
                           
                            <div class="generic_head_price clearfix">
                            
                              
                                <div class="generic_head_content clearfix">
                                
                                 
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Infinity Plan</span>
                                    </div>
                                   
                                    
                                </div>
                               
                                <div class="generic_price_tag clearfix">  
                                    <span class="price">
                                        
                                        <span class="currency">₹ 999</span>
                                        
                                    </span>
                                </div>
                                
                            </div>                            
                           
                            
                            <div class="generic_feature_list">
                                <ul>
                                    <li><span>Sim</span> 1 regular sim + 2 Family Add-ons</li>
                                    <li><span>Data</span> 100 GB per month</li>
                                    <li><span>Calls </span> Unlimited Local/STD/Roaming</li>
                                    <li><span>SMS</span> 100 per day</li>
                                    </ul>
                            </div>
                           
                            <div class="generic_price_btn clearfix">
                              <a class="" href="billdetails">Recharge</a>
                            </div>
                            
                        </div>
                      
                            
                    </div>
                    
                   
                   <div class="col-md-4">
                    <br>
                    <br>
                    
                        <div class="generic_content  clearfix">
                            
                       
                            <div class="generic_head_price clearfix">
                            
                            
                                <div class="generic_head_content clearfix">
                           
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Elite Infinity Plan</span>
                                    </div>
                                
                                    
                                </div>
                                

                                
                                
                                <div class="generic_price_tag clearfix">  
                                    <span class="price">
                                    
                                        <span class="currency">₹ 1199</span>
                                       
                                    </span>
                                </div>
                                
                                
                            </div>       
                                               
                         
                            <div class="generic_feature_list">
                              <ul>
                                <li><span>Sim</span> 1 regular sim + 3 Family Add-ons</li>
                                    <li><span>Data</span> 150 GB per month</li>
                                    <li><span>Calls </span> Unlimited Local/STD/Roaming</li>
                                    <li><span>SMS</span> 100 per day</li>
                                </ul>
                            </div>
                            
                            <div class="generic_price_btn clearfix">
                              <a class="#" href="billdetails">Recharge</a>
                            </div>
                           
                            
                        </div>
                        
                            
                    </div>
                </div>  
                
                
            </div>
            
        </section>             
      <footer>
          <a class="bottom_btn" href ="plans">&copy;Voizfonica</a>
        </footer>
    </div>
