

<h1 class="demo-title">

   <br>
    <a href="https://htmlcodex.com/pricing-table-html-template" target="_blank" title="HTML Codex"></a>
  </h1>
  <div class="pricing-table">
    <div class="ptable-item">
      <div class="ptable-single">
        <div class="ptable-header">
          <div class="ptable-title">
            <h2>Prepaid</h2>
          </div>
          <div class="ptable-price">
          
          </div>
        </div>
        <div class="ptable-body">
          <div class="ptable-description">
            <ul>
               <img src="assets/no2.jpg" height="250" width="350">
            </ul>
          </div>
        </div>
        <div class="ptable-footer">
          <div class="ptable-action">
            <a href="prepaid">View Plans</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="ptable-item featured-item">
      <div class="ptable-single">
        <div class="ptable-header">
          <div class="ptable-status">
            </div>
          <div class="ptable-title">
              <br>
              <h2>Postpaid</h2>
          </div>
          <div class="ptable-price">
            
          </div>
        </div>
        <div class="ptable-body">
          <div class="ptable-description">
            <ul>
                <img src="assets/no3.jpg" height="240" width="300">
            </ul>
          </div>
        </div>
        <div class="ptable-footer">
          <div class="ptable-action"><br>
            <a href="postpaid">View Plans</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="ptable-item">
      <div class="ptable-single">
        <div class="ptable-header">
          <div class="ptable-title">
            <h2>Dongle</h2>
          </div>
          <div class="ptable-price">
          
          </div>
        </div>
        <div class="ptable-body">
          <div class="ptable-description">
            <ul>
                <img src="assets/no5.jpg" height="230" width="290">
            </ul>
          </div>
        </div>
        <div class="ptable-footer">
          <div class="ptable-action"><br>
            <a href="dongle">View Plans</a>
          </div>
        </div>
      </div>
    </div>
  </div>
