<div id="generic_price_table">   
    <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                       
                        <div class="price-heading clearfix">
                            <h1>Prepaid Offers</h1>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="container">
                
               
                <div class="row">
                    <div class="col-md-4">
                    
                      
                        <div class="generic_content clearfix">
                            
                            
                            <div class="generic_head_price clearfix">
                            
                               
                                <div class="generic_head_content clearfix">
                                
                                 
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Basic</span>
                                    </div>
                                    
                                    
                                </div>
                                
                                <div class="generic_price_tag clearfix">  
                                    <span class="price">
                                        
                                        <span class="currency"> ₹ 199</span>
                                      
                                       
                                    </span>
                                </div>
                              
                                
                            </div>                            
                            
                            <div class="generic_feature_list">
                              <ul>
                                  <li><span>1 GB</span> Data/day</li>
                                    <li><span>28 days</span> Validity</li>
                                    <li><span>Unlimited talktime</span></li>
                                    <li><span>100+ </span> Messages</li>
                                    <li><span>500 Mb </span>Free Data coupon</li>
                                </ul>
                            </div>
                            
                            
                         
                            <div class="generic_price_btn clearfix">
                              <a class="" href="billdetails">Recharge</a>
                            </div>
                       
                            
                        </div>
                       
                            
                    </div>
                    
                    <div class="col-md-4">
                    
                        <div class="generic_content  clearfix">
                            
                       
                            <div class="generic_head_price clearfix">
                            
                            
                                <div class="generic_head_content clearfix">
                           
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Standard</span>
                                    </div>
                                
                                    
                                </div>

                                
                                
                                <div class="generic_price_tag clearfix">  
                                    <span class="price">
                                    
                                        <span class="currency">₹ 399</span>
                                       
                                    </span>
                                </div>
                                
                                
                            </div>                            
                         
                            <div class="generic_feature_list">
                              <ul>
                                <li><span>2 GB</span> Data/day</li>
                                <li><span>86 days</span> Validity</li>
                                <li><span>Unlimited talktime</span></li>
                                <li><span>300+ </span> Messages</li>
                                <li><span>1.5 GB </span> Free Data coupon</li>
                                </ul>
                            </div>
                            
                            <div class="generic_price_btn clearfix">
                              <a class="#" href="billdetails">Recharge</a>
                            </div>
                           
                            
                        </div>
                        
                            
                    </div>
                    <div class="col-md-4">
                    
                     
                        <div class="generic_content clearfix">
                           
                            <div class="generic_head_price clearfix">
                            
                              
                                <div class="generic_head_content clearfix">
                                
                                 
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Premium</span>
                                    </div>
                                   
                                    
                                </div>
                               
                                <div class="generic_price_tag clearfix">  
                                    <span class="price">
                                        
                                        <span class="currency">₹ 699</span>
                                        
                                    </span>
                                </div>
                                
                            </div>                            
                           
                            
                            <div class="generic_feature_list">
                                <ul>
                                    <li><span>3 GB</span> Data/day</li>
                                    <li><span>120 days</span> Validity</li>
                                    <li><span>Unlimited talktime</span></li>
                                    <li><span>600+ </span> Messages</li>
                                    <li><span>3 GB </span> Free Data coupon</li>
                                    </ul>
                            </div>
                           
                            <div class="generic_price_btn clearfix">
                              <a class="" href="billdetails">Recharge</a>
                            </div>
                            
                        </div>
                      
                            
                    </div>
                    
                   
                   <div class="col-md-4">
                    <br>
                    <br>
                    
                        <div class="generic_content  clearfix">
                            
                       
                            <div class="generic_head_price clearfix">
                            
                            
                                <div class="generic_head_content clearfix">
                           
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Elite</span>
                                    </div>
                                
                                    
                                </div>
                                

                                
                                
                                <div class="generic_price_tag clearfix">  
                                    <span class="price">
                                    
                                        <span class="currency">₹ 999</span>
                                       
                                    </span>
                                </div>
                                
                                
                            </div>       
                                               
                         
                            <div class="generic_feature_list">
                              <ul>
                                <li><span>5 GB</span> Data/day</li>
                                <li><span>225 days</span> Validity</li>
                                <li><span>Unlimited talktime</span></li>
                                <li><span>1000+ </span> Messages</li>
                                <li><span>5 GB </span> Free Data coupon</li>
                                <li><span>Netflix Subcription </span> 2 Months</li>
                                </ul>
                            </div>
                            
                            <div class="generic_price_btn clearfix">
                              <a class="#" href="billdetails">Recharge</a>
                            </div>
                           
                            
                        </div>
                        
                            
                    </div><div class="col-md-4">
                        <br>
                        <br>
                    
                        <div class="generic_content  clearfix">
                            
                       
                            <div class="generic_head_price clearfix">
                            
                            
                                <div class="generic_head_content clearfix">
                           
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Elite pro</span>
                                    </div>
                                
                                    
                                </div>

                                
                                
                                <div class="generic_price_tag clearfix">  
                                    <span class="price">
                                    
                                        <span class="currency">₹ 1999</span>
                                       
                                    </span>
                                </div>
                                
                                
                            </div>                            
                         
                            <div class="generic_feature_list">
                              <ul>
                                <li><span>Unlimited</span> Data/day</li>
                                <li><span>365 days</span> Validity</li>
                                <li><span>Unlimited talktime</span></li>
                                <li><span>Unlimited Messages</span> </li>
                                <li><span>40 GB </span> Free Data coupon</li>
                                <li><span>Netflix + Amazon Prime </span> Subscription</li>
                                </ul>
                            </div>
                            
                            <div class="generic_price_btn clearfix">
                              <a class="#" href="billdetails">Recharge</a>
                            </div>
                           
                            
                        </div>
                        
                            
                    </div>
                </div>  
                
                
            </div>
            
        </section>             
      <footer>
          <a class="bottom_btn" href ="plans">&copy;Voizfonica</a>
        </footer>
    </div>
